@using Zetalex.TableList.Mvc.Core
@model Zetalex.TableList.Example.Mvc.Core.Models.ProductModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">

    <input asp-for="Title" />
    @*<input asp-for="Initial" />
    <input asp-for="WhiteLabelID" />*@

    @Html.TableListFor(p => p.BlockPrices, new { @class = "table table-bordered" }, showHeader: true)

    <button type="submit" class="btn btn-default">Submit</button>
</form>