/*TableList.Mvc 1.0.7*/
.table.table-list-mvc > tbody > tr > td,
.table-list-mvc td {
    vertical-align: middle;
    position: relative;
}

    .table-list-mvc td > input {
        width: 100%;
        max-width: 100%;
    }

        .table-list-mvc td > input[readonly="readonly"] {
            border-color: transparent;
            background-color: transparent;
            box-shadow: none;
        }

.table-list-mvc-item-view input {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

    .table-list-mvc-item-view input::-ms-clear {
        display: none;
    }

    .table-list-mvc-item-view input::-webkit-input-placeholder {
        color: transparent;
    }

    .table-list-mvc-item-view input:-moz-placeholder {
        color: transparent;
    }

    .table-list-mvc-item-view input::-moz-placeholder {
        color: transparent;
    }

    .table-list-mvc-item-view input:-ms-input-placeholder {
        color: transparent;
    }


.table-list-mvc-item-new .table-list-mvc-item-delete {
    display: none;
}
